/.eggs
/build
/dist
/MANIFEST
/*.egg-info
/pip-wheel-metadata
.python-version
*.py[cod]
*.egg
*.class

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
htmlcov/

# Visual Studio Code
.vscode/

# Pycharm
.idea/

# MyPy
.mypy_cache

# SonarQube
sonar-project.*
