[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telnyx = {path = ".", editable = true}
PyNaCl = "*"
isort = "*"
pylint = "*"

[dev-packages]
pytest = ">=4"
pytest-mock = ">=1.7"
pytest-xdist = ">=1.22"
pytest-cov = ">=2.5"
tox = "*"
"flake8" = "*"
coveralls = "*"
black = {version = "==19.3b0", markers = "python_version >= '3.6'"}
twine = "*"

[requires]
python_version = "3.7"
